<div>
    <h2>Legal Disclaimer:</h2>
    <p>Please note that the content of this website may include third-party materials such as texts, images, and videos, used exclusively for study and learning purposes.</p>
    <p>All third-party materials are used in good faith, with the aim of enriching my learning experience and understanding of the topics covered.</p>
    <p>If you are the owner of any of these materials and wish for it to be removed or attributed differently, please <a href="mailto:youremail@example.com?subject=Material%20Removal%20Request">contact me</a>, and I will take the necessary actions.</p>
    <p>Thank you for your understanding.</p>
    <p>Best regards,<br>Vinícius Porto</p>
</div>