<div style="justify-content: center; display: flex; margin-bottom: 10px;">
  <button class="custom-button" id="createProductButton" (click)="redirectToCreateProduct()">Create Product</button>
</div>
<div class="container" >
  <div class="product" *ngFor="let product of products" (click)="redirectToProductPage(product.id)">
    <div class="product-image-container">
      <img *ngIf="imgIsLoaded" src="data:image/jpeg;base64, {{ product.image }}" alt="Product Image" class="product-image">
      <div class="product-name">{{ product.name }}</div>
      <div class="product-price">{{ product.price + '.00$'}}</div>
    </div>
  </div>
</div>