<div id="navBar">
  <div class="router">
    <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page" class="routeElement">Home</a>
    <a routerLink="/store" routerLinkActive="active" ariaCurrentWhenActive="page" class="routeElement">Store</a>
  </div>
</div>

<video class="background-video" autoplay muted loop>
  <source src="../assets/One-Piece-The-Thousand-Sunny-Bateau-Remix.mp4">
</video>
<img class="background-img" src="../assets/test2.png">
<router-outlet></router-outlet>