<form #form="ngForm" class="container" (ngSubmit)="submitForm(form)">
    <div class="product">
      <label for="nome">Nome:</label>
      <input type="text" id="name" name="name" ngModel required>
    </div>
    <div class="product">
      <label for="preco">Preço:</label>
      <input type="number" id="price" name="price" ngModel required>
    </div>
    <div class="product">
      <label for="imagem">Imagem:</label>
      <input type="file" id="imagem" name="imagem" accept="image/*" (change)="handleImageInput($event)">
    </div>
    <div class="button-container">
      <button class="custom-button" (click)="redirectToStore()">Voltar</button>
      <button type="submit" class="custom-button">Enviar</button>
    </div>
  </form>